* {
  margin: 0;
  padding: 0;
  
  
}

.container {
  display: flex;
  margin-top: 150px;
  background-image: url('about.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: white;
  padding-top: 10px;
  padding: 80px;
  padding-bottom: 50px;
}

.leftContainer {
  flex: 1;
  margin-top: 50px;
  padding-left: 50px;
}

.rightContainer {
  flex: 2;
}

.aboutStake {
  font-size: 24px;
  font-weight: bold;
}
